[SddmGreeterTheme]
Name=Omarchy On-Screen Keyboard
Description=Touch-capable Omarchy login theme
Author=Maarten Tolhuijs
Type=sddm-theme
Version=1.0
QtVersion=6
